 <p class="notice"><%=flash[:notice] %></p>
 <h1>Books</h1>
    <table>
        <thead>
        <tr>
           <th class="title">Title</th>
           <th class="body">Body</th>
           <th></th>
        </tr>
        </thead>
        <tbody>
          <p><% @books.each do |book| %></p>
        <tr>
           <td class="title"><span><%= book.title %></span></td>
            <td class="body"><span> <%= book.body %></span></td>
            <td><span><%= link_to 'Show', book_path(book.id) %></span></td>
            <td><span><%= link_to 'Edit', edit_book_path(book.id) %></span></td>
            <td><span><%= link_to 'Destroy',destroy_book_path(book.id),method: :delete,"data-confirm" => "Are you sure？" %></span></td>
        </tr>
        </tbody>
    </table>
<% end %>

<h1>New Book</h1>
<% if @book.errors.any? %>
<%= @book.errors.count %>errors prohibited this book from being saved:
<ul>
    <%= @book.errors.full_messages.each do |message| %>
    <li>
       <%= message %>
    </li>
    <% end %>
</ul>
<% end %>

<%= form_with model: @Book, url: '/books', method: :post, local:true do |f| %>

<labl>Title</labl>
<div class="text">
<%= f.text_field :title %>
</div>

<labl>Body</labl>
<div class="text">
<%= f.text_area :body %>
</div>

<div class="subbmit">
<%= f.submit 'Create Book' %>
</div>

<% end %>


