<%=flash[:notice] %>

<div class="text_flex">
<h2>Title:</h2>
<p><%= @book.title %></p>
</div>

<div class="text_flex">
<h2>Body:</h2>
<p><%= @book.body %></p>
</div>

<span><%= link_to 'Edit', edit_book_path(@book.id) %></span>
<span><%= link_to 'Back', index_book_path(@books) %></span>

